.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 200;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    position: relative;
    width: 1196px;
    height: 800px;
    background: linear-gradient(115.06deg, #8651D9 7.96%, #A36ECC 90.57%);
    border-radius: 20px;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../img/popupBg.png');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.popup__content {
    position: relative;
    border-radius: 20px;
}

.popup__title {
    color: white;
    margin-top: 50px;
    text-align: center;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
}

.popup__body__container {
    width: calc(100% - 314px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}

.popup__product__img {
    max-height: 511px;
    max-width: 500px;
}

.coupon__block__div {
    width: 363px;
}

.popup__product__title {
    text-align: center;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.coupon__block {
    width: 100%;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(252, 213, 53, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 70px;
}

.coupon__block h3 {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #525252;
    margin-top: 40px;
}

.coupon__block h2 {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 37px;
}

.reel__img__block {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
}

.reel__img__block img {
    margin-bottom: -10px;
}

.reel__img__block p {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 70px;
    left: 170px;
}

@media screen and (max-width: 700px) {
    .pop_up_body {
        width: 350px;

    }

    .popup__body__container {
        width: 90%;
        flex-direction: column;
    }

    .reel__img__block p {
        width: auto;
    }

    .popup__product__img {
        display: none;
    }
}
